.w-treeview ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.w-treeview ul ul {
	margin-left: 16px;
}

.w-treeview li {
	margin: 0;
	padding: 2px 0;
}

.w-treeview li .w-treeview-caret {
	width: 6px;
	display: inline-block;
	/* background-color: #FF0; */
	margin: 0 4px 0 0;
	position: relative;
	top: -2px;
	border: 0 none;
}

.w-treeview li.w-treeview-has-children > ul {
	display: none;
}

.w-treeview li.w-treeview-has-children.w-treeview-expanded > ul {
	display: block;
}

.w-treeview li span.label{
	position: relative;
	top: -2px;
	margin-left: 4px;
	padding: .2em .6em .2em;
	border-radius: 50px;
}
